.selection-lists {
  div {
    float: left;
    h3 {
      font-size: 14px;
      color: cornflowerblue;
      font-weight: normal;
    }
    ul {
      border: 1px solid lightgrey;
      padding: 5px 0 5px 0;
      margin: 5px;
      text-align: center;
      height: 300px;
      border-radius: 5px;
      box-shadow: 0 1px 3px grey;
      width: 200px;
      li {
        list-style-type: none;
        padding: 2px;
      }
      .selected {
        background-color: cornflowerblue;
        color: white;
      }
    }
    &:last-child {
      margin-left: 10px;
    }
  }
}

